@font-face {
    font-family: 'Saint Carell Clean PERSONAL';
    src: url('SaintCarellCleanPERSONAL-Regular.woff2') format('woff2'),
        url('SaintCarellCleanPERSONAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saint Carell PERSONAL';
    src: url('/fonts/SaintCarellPERSONAL-Regular.woff2') format('woff2'),
        url('/fonts/SaintCarellPERSONAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    height: 100vh;
}

.signup-left{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url('file.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
     
}

.odin-header {
    gap: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.384);
     
}

h1 {
    font-family: 'Saint Carell PERSONAL';
    color: black;
}

.odin-title {
    color: white;;

}

.credits{
     position: absolute;
     bottom: 10px;
}

.credits p {
    font-size: 12px;
    color: white;
}

.credits p > a {
    color: white;
}
 
.signup-right {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    
}

.signup-header {
    height: 250px;
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    font-size: 14px;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    

}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #596d48af;
}

.signup-footer > p {
    font-size: 14px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 2px 1px 1px 1px rgb(216, 219, 221);
    
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(48, 47, 47);
}

form p {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal
}

.form_title h1{
    color: rgb(48, 47, 47);
}

label {
    margin-top: 13px;
    color: #575E69;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    border: 1px solid #E5E7EB;
    
}

.form_inputs {
    display: flex; 

}

input[type="password"]:user-invalid,
input[type="text"]:user-invalid {
    border: 1px solid #B91C1C;
}

input[type="text"]:focus {
    border-color: 1px solid #0034cf;
}

input:valid {
    border: 1px solid #67da04;
}

input[type="email"]::placeholder {
    color: #0034cf;
    font-size: 12px;
}

.signup-footer{
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-footer a {
    color: #596D48;
    text-decoration: none;
    cursor: pointer;
}
